/* IMPOSTAZIONI GENERALI */
body {
  width: 100%;
  color: #000;
  font-size: 1.5rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.8;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

a {
  color: #e42424;
}

button {
  font-size: 1.9rem;
  color: white;
}
/* HEADER */
.menu {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu nav ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin: 1rem;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.menu li button {
  border: none;
  background: rgb(108, 193, 226);
  background: linear-gradient(90deg, rgba(108, 193, 226, 1) 51%, rgba(57, 47, 122, 1) 100%);
}

header {
  height: 100vh;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header button {
  padding: 0.5rem;
  font-size: medium;
  position: relative;
  left: -28rem;
  top: 1rem;
  background: rgb(108, 193, 226);
  background: linear-gradient(90deg, rgba(108, 193, 226, 1) 51%, rgba(57, 47, 122, 1) 100%);
}
/* MAIN */

/* Article 1*/
.center {
  text-align: center;
}

.card_o {
  display: flex;
  justify-content: center;
}

.card_box {
  padding: 1rem;
  margin: 1rem;
}

.card_o h2 {
  font-size: 2.5rem;
  text-align: center;
}
.card_o p {
  font-size: 1.5rem;
  margin-top: 0;
}

/* Aside */

.aside {
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c0633;
}

.aside button {
  padding: 0.8rem;

  margin-top: 1.2rem;
  border: none;
  background: rgb(108, 193, 226);
  background: linear-gradient(90deg, rgba(108, 193, 226, 1) 51%, rgba(57, 47, 122, 1) 100%);
}

.aside button a {
  color: white;
  text-decoration: none;
}

/* Article 2 */
#second_article {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.card_v {
  margin-left: 3rem;
}

.card_v h2 {
  font-size: 2.5rem;
}
.card_v p {
  font-size: 1.5rem;
  margin-top: 0;
}
/* FOOTER */
.card_footer {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 3rem;
  background-color: rgb(238, 238, 238);
}

#second_card_footer ul {
  display: flex;
}

#second_card_footer ul li {
  list-style: none;
  margin: 1rem;
}
#second_card_footer li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

#third_card_footer button {
  width: 100%;
  border: none;
  background: rgb(108, 193, 226);
  background: linear-gradient(90deg, rgba(108, 193, 226, 1) 51%, rgba(57, 47, 122, 1) 100%);
}
#third_card_footer input {
  width: 100%;
  height: 2rem;
}
footer p sup {
  font-size: small;
}
footer p {
  text-align: center;
}
/* RESPONSIVE */
